/*
 * Theme name: Dragonfly
 * Description: Main stylesheet for this template
 * Version: 1.5
 * Last update: September 6 2014
 * Author: Jiri Cermak
 * */
html {
  -webkit-font-smoothing: antialiased;
}
/* Selecting text */
::-moz-selection {
  background: #444444;
  color: #ffffff;
  text-shadow: none;
}
::selection {
  background: #444444;
  color: #ffffff;
  text-shadow: none;
}
.hover-content {
  overflow: hidden;
  position: relative;
}
/*
 * ===================================
 * Media Queries
 * ===================================
 * */
@media (max-width: 768px) {
  .list-inline .btn {
    min-width: 100%;
  }
  .list-inline li {
    display: block;
    min-width: 100%;
  }
  .list-inline li:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .square,
  .clients img,
  .panel.prices {
    margin-bottom: 30px;
  }
  .part-a h3 {
    margin: 0;
  }
  .blog-post h2 {
    margin: 15px 0 10px 0;
  }
  .sTop .title {
    font-size: 3.5em;
  }
}
@media (min-width: 768px) {
  .part-a h3 {
    margin: 0;
  }
  .part-a {
    padding: 10px 0;
  }
  .filter-grid {
    min-height: 700px;
  }
  .filter-grid-v2 {
    min-height: 825px;
  }
  .section-header h1 {
    font-size: 60px;
  }
  .blog-post h2 {
    margin: 0 0 10px 0;
  }
  .sTop .title {
    font-size: 5em;
  }
}
@media (max-width: 992px) {
  .portfolio-grid .hover-content,
  .profile-grid .profile,
  .news,
  .knob,
  .profile {
    margin-bottom: 30px;
  }
  .profile-grid .profile-circle {
    margin-bottom: 50px;
  }
  .lg-tab-content img {
    margin-top: 50px;
  }
}
@media (min-width: 992px) {
  .part-a {
    padding: 6px 0;
  }
  .filter-grid {
    min-height: 696px;
  }
  .filter-grid-v2 {
    min-height: 480px;
  }
  .first.panel.prices {
    left: 45px;
  }
  .last.panel.prices {
    right: 45px;
  }
}
@media (min-width: 1200px) {
  .part-a {
    padding: 10px 0;
  }
  .part-a h3 {
    margin: 6px 0;
  }
  .filter-grid {
    min-height: 840px;
  }
  .filter-grid-v2 {
    min-height: 580px;
  }
  .section-header h1 {
    font-size: 70px;
  }
  .first.panel.prices {
    left: 80px;
  }
  .last.panel.prices {
    right: 80px;
  }
}
a {
  color: #1eb9c1;
}
.btn-primary {
  background-color: #1eb9c1;
  border-color: #1eb9c1;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #147a7f;
  border-color: #106469;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #1eb9c1;
  border-color: #1eb9c1;
}
.btn-primary .badge {
  color: #1eb9c1;
}
.btn-link {
  color: #1eb9c1;
}
.btn-link:hover,
.btn-link:focus {
  color: #147a7f;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: #1eb9c1;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #1eb9c1;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #1eb9c1;
  }
}
.pagination > li > a,
.pagination > li > span {
  color: #1eb9c1;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #1eb9c1;
  border-color: #1eb9c1;
}
.label-primary {
  background-color: #1eb9c1;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #0d4f53;
}
a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #1eb9c1;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #1eb9c1;
}
.progress-bar {
  background-color: #1eb9c1;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #1eb9c1;
  border-color: #1eb9c1;
}
.panel-primary {
  border-color: #1eb9c1;
}
.panel-primary > .panel-heading {
  background-color: #1eb9c1;
  border-color: #1eb9c1;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #1eb9c1;
}
.panel-primary > .panel-heading .badge {
  color: #1eb9c1;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #1eb9c1;
}
.carousel-indicators li {
  border: 1px solid #1eb9c1;
}
.carousel-indicators .active {
  background-color: #1eb9c1;
}
/*
 * ===================================
 * Typography
 *
 * includes: Headings, Body, Lists, Links
 * ===================================
 * */
/*===    Headings    ===*/
/*=== Header title ===*/
.top-title {
  text-align: center;
  margin: 0;
  text-transform: capitalize;
  padding: 15px 0;
  color: #ffffff;
}
.top-title:after {
  content: "";
  display: block;
  padding-top: 8px;
  width: 80px;
  margin: auto;
  border-bottom: 1px solid #ffffff;
}
.sub-text {
  color: #ffffff;
}
/*=== Large title and subtitle ===*/
.lg-title {
  text-align: center;
  position: relative;
  letter-spacing: 2px;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #777;
  font-size: 36px;
}
.lg-title .lg-title-border::after {
  content: "";
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sub-title {
  text-align: center;
  color: #777777;
  font-size: 16px;
  margin-top: -20px;
  line-height: 24px;
  padding-bottom: 30px;
}
/*=== Big title and subtitle ===*/
@media (min-width: 768px) {
  .big-title {
    font-size: 40px;
    color: #777777;
  }
  .big-subtitle {
    font-size: 18px;
    color: #999999;
    margin: 20px auto 0;
    font-weight: 300;
    line-height: 28px;
    max-width: 85%;
    letter-spacing: 0.25px;
  }
}
@media (max-width: 768px) {
  .big-title {
    font-size: 30px;
    color: #777777;
  }
  .big-subtitle {
    font-size: 15px;
    color: #777777;
    margin: 15px auto 0;
    line-height: 20px;
  }
}
/*=== Medium title ===*/
.md-title {
  color: #555555;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.5px;
}
.bg-filter-v2 .lg-title,
.bg-filter-v2 .big-title,
.bg-filter-v1 .lg-title,
.bg-filter-v1 .big-title,
.bg-filter .lg-title,
.bg-filter .big-title {
  color: #ffffff;
}
/*=== Title with border ===*/
.title-border {
  padding-bottom: 5px;
  border-bottom: 1px solid #eeeeee;
}
/*=== Text blocks ===*/
.text-block {
  font-size: 16px;
  line-height: 25px;
}
.text-block-v1 {
  font-size: 16px;
  line-height: 1.8;
}
.text-block-v2 {
  line-height: 22px;
}
.text-block,
.text-block-v1,
.text-block-v2 {
  color: #777777;
}
/*===   Test Colors    ===*/
.text-muted {
  color: #777777 !important;
}
.text-primary {
  color: #1eb9c1 !important;
}
a.text-primary:hover {
  color: #147a7f;
}
.text-success {
  color: #3c948b;
}
a.text-success:hover {
  color: #265e58;
}
.text-info {
  color: #1eb9c1;
}
a.text-info:hover {
  color: #147a7f;
}
.text-warning {
  color: #ecd06f;
}
a.text-warning:hover {
  color: #e3ba2b;
}
.text-danger {
  color: #df6c4f;
}
a.text-danger:hover {
  color: #bf4223;
}
.bg-primary {
  color: #ffffff !important;
  background-color: #1eb9c1 !important;
}
a.bg-primary:hover {
  color: #ffffff;
  background-color: #147a7f;
}
.bg-success {
  color: #fff;
  background-color: #3c948b !important;
}
a.bg-success:hover {
  background-color: #265e58;
}
.bg-info {
  color: #fff;
  background-color: #1eb9c1 !important;
}
a.bg-info:hover {
  background-color: #147a7f;
}
.bg-warning {
  color: #fff;
  background-color: #ecd06f !important;
}
a.bg-warning:hover {
  background-color: #e3ba2b;
}
.bg-danger {
  color: #fff;
  background-color: #df6c4f !important;
}
a.bg-danger:hover {
  background-color: #bf4223;
}
/* ===    Lists    === */
/*=== Icons List ===*/
.icons-list {
  padding-left: 0;
  list-style: none;
}
.icons-list li {
  display: inline-block;
  margin-bottom: 5px;
  padding-right: 2.5px;
  margin-top: 5px;
  padding-left: 2.5px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .hover-content .icons-list li {
    padding-left: 0;
    padding-right: 0;
  }
}
/*=== Share icons list ===*/
.share-icons-list {
  padding-left: 0;
  list-style: none;
}
.share-icons-list li {
  display: inline-block;
  padding-right: 2.5px;
  margin-bottom: 5px;
}
/*=== Features list with icons ===*/
.features-list > li {
  margin: 10px 0;
  list-style: none;
}
.features-list i {
  margin-right: 10px;
  color: #1eb9c1;
}
/*=== Info list ===*/
/* using in the portfolio item (down) */
.info-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.info-list > li {
  margin-bottom: 15px;
}
.info-list > li > i:before {
  margin-right: 8px;
}
.info-list .md-list li {
  margin-bottom: 10px;
}
.info-list .sm-list li {
  margin-bottom: 5px;
}
.info-list .style {
  padding-left: 40px;
}
.info-list .md-list li:last-child,
.info-list .sm-list li:last-child,
.info-list > li:last-child {
  margin-bottom: 0;
}
.info-list-border > li {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px;
}
/*=== Inline Buttons ===*/
.inline-btn > .btn {
  margin-right: 15px;
}
/*=== Contact list with info ===*/
.info-bar h4 {
  margin-top: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 15px;
  color: #777777;
  font-weight: 700;
}
.info-bar > li {
  margin-bottom: 15px;
  color: #777777;
}
.info-bar > li p {
  margin-bottom: 0;
}
/* === Links === */
a:hover,
a:focus {
  color: #147a7f;
  text-decoration: none;
}
a:focus {
  outline: none;
}
/*=== Labels ===*/
h3 > .label,
h2 > .label,
h1 > .label {
  font-weight: 300;
}
/*
 * ===================================
 * Forms
 * 
 * includes: Form with Icon, Transparent Form, Sign Up/In Pages
 * ===================================
 * */
.form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #777777;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #dddddd;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: all ease-in-out 0.25s;
  transition: all ease-in-out 0.25s;
}
.form-control:focus {
  outline: 0;
  border-color: #ccc;
}
textarea.form-control {
  line-height: normal !important;
  padding-top: 13px !important;
}
/* Icon in form field */
.control {
  overflow: hidden;
  position: relative;
}
.control i {
  position: absolute;
  font-size: 21px;
  color: #dddddd;
  top: 0;
  z-index: 2;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  left: 0;
}
.icon .btn {
  min-height: 44px;
}
.icon .form-control {
  min-height: 42px;
  padding: 0 15px 0 42px;
  line-height: 42px;
}
/* Large Form without icons */
.form-lg .form-control {
  min-height: 44px;
  padding: 0 15px;
  line-height: 44px;
}
.form-lg .btn {
  min-height: 46px;
  padding: 11.5px 15px;
}
/* Normal Form (without icons) */
.no-icon .form-control {
  padding: 6px 12px;
}
.no-icon .btn-form {
  background-color: #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-left: 0;
}
/* Transparent Form */
.trn .form-control {
  min-height: 44px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-right: 0;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
}
.trn .form-control:focus {
  border-color: #ffffff;
  outline: 0;
  box-shadow: none;
}
.trn .form-control:-webkit-input-placeholder {
  color: #ffffff !important;
  opacity: 1;
}
.trn .form-control:-ms-input-placeholder {
  color: #ffffff !important;
  opacity: 1;
}
.trn .form-control:-moz-placeholder {
  color: #ffffff !important;
  opacity: 1;
}
/* Total Transparent Form */
.all-trn .form-control {
  color: #777777;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #eeeeee;
  box-shadow: none;
  border-radius: 0;
  padding-bottom: 1px;
}
.all-trn .form-control:focus {
  border-bottom-color: #ccc !important;
}
.all-trn .form-control:-moz-placeholder {
  color: #777777;
}
.all-trn .form-control:-webkit-input-placeholder {
  color: #777777;
}
.all-trn .form-control:-ms-input-placeholder {
  color: #777777;
}
/*  Sign Up/In Pages */
.sign-up {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 2;
  padding: 20px 40px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}
@media (min-width: 768px) {
  .sign-up {
    min-width: 600px;
  }
}
@media (max-width: 650px) {
  .sign-up {
    min-width: 400px;
  }
}
@media (max-width: 500px) {
  .sign-up {
    min-width: 300px;
  }
}
@media (max-width: 300px) {
  .sign-up {
    min-width: 100%;
  }
}
.sign-up-hr {
  position: absolute;
  left: 50%;
  width: 1px;
  height: 80%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(50%, #ffffff), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #ffffff 50%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 50%, rgba(255, 255, 255, 0) 100%);
  bottom: 10%;
}
.sign-up-title {
  margin: 0 0 20px;
  color: #555;
}
.sign-up-btn {
  background: #aaa;
  color: #ffffff;
  border-radius: 2px;
  margin-bottom: 15px;
  max-width: 260px;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}
.sign-up-btn .icon {
  font-size: 24px;
  line-height: 44px;
  display: inline-block;
  border-right: 1px solid #eeeeee;
  vertical-align: top;
  height: 44px;
  width: 50px;
  text-align: center;
  position: relative;
}
.sign-up-btn .text {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  line-height: 44px;
  padding-left: 10px;
}
/*
 * ===================================
 * Helper Classes
 * 
 * includes: spaces, hr, section, filling-section, small container
 * ===================================
 * */
/*=== Spaces - smart tags for fast indentation ===*/
.space,
.space-sm,
.space-md,
.space-lg {
  display: block;
  float: none;
  clear: both;
}
.space-sm {
  padding-top: 15px;
}
.space-md {
  padding-top: 20px;
}
.space {
  padding-top: 30px;
}
.space-lg {
  padding-top: 50px;
}
/*=== Large line - <hr class="hr"> ===*/
.hr {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* === Colors === ===*/
.primary span {
  color: #1eb9c1;
}
.success span {
  color: #3c948b;
}
.info span {
  color: #1eb9c1;
}
.warning span {
  color: #ecd06f;
}
.danger span {
  color: #df6c4f;
}
ul.default span,
ul.danger span,
ul.warning span,
ul.info span,
ul.success span,
ul.primary span {
  margin-right: 5px;
}
/* === Text Colors === (text-primary and etc. you will find in the bootstrap.css) ===*/
.text-white a,
.text-white {
  color: #ffffff !important;
}
.text-light a,
.text-light {
  color: #dddddd !important;
}
/*=== Section - make your site clearly with these classes ===*/
@media (min-width: 768px) {
  .section-sm {
    padding: 20px 0;
  }
  .section-md {
    padding: 30px 0;
  }
  .section {
    padding: 50px 0;
  }
  .section-lg {
    padding: 80px 0;
  }
}
@media (max-width: 768px) {
  .section-sm {
    padding: 15px 0;
  }
  .section-md {
    padding: 20px 0;
  }
  .section {
    padding: 30px 0;
  }
  .section-lg {
    padding: 50px 0;
  }
}
.container-fluid.section,
.container-fluid.section-md,
.container-fluid.section-sm,
.container-fluid.section-lg,
.container.section,
.container.section-sm,
.container.section-md,
.container.section-lg {
  padding-left: 15px;
  padding-right: 15px;
}
/*=== Section with absolute postiion - using on the Sign In/Up Pages ===*/
.section-fxd {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
}
/*=== seciton with no top padding ===*/
.noTop.section-lg,
.noTop.section-md,
.noTop.section-sm,
.noTop.section {
  padding-top: 0;
}
.section-sm,
.section-md,
.section-lg,
.section {
  position: relative;
}
/*=== Section for background image or video ===*/
.filling-section {
  min-height: 350px;
  position: relative;
}
/*=== Small container ===*/
.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*=== Block center - horizontal and vertical ===*/
.h-center,
.v-center {
  position: absolute;
  top: 50%;
}
.v-center {
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.h-center {
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
}
/*=== vertical and horizontal center  ===*/
.hv-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*=== max width center, center block ===*/
.img-mw450 {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: auto;
  width: 100%;
}
/*=== max width 450px ===*/
.w450 {
  max-width: 450px;
  width: 100%;
}
.w800,
.w450 {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/*=== max height 450px ===*/
.h450 {
  max-height: 450px;
}
/*=== max width 800px ===*/
.w800 {
  max-width: 800px;
  width: 100%;
}
/*=== Margins ===*/
.m-no-all {
  margin: 0;
}
.m-no-bottom {
  margin-bottom: 0;
}
.m-no-top {
  margin-top: 0;
}
.m-no-left {
  margin-left: 0;
}
.m-no-right {
  margin-right: 0;
}
.m-10-top {
  margin-top: 10px;
}
/*=== Paddings ===*/
.p-no-all {
  padding: 0;
}
.p-no-bottom {
  padding-bottom: 0;
}
.p-no-top {
  padding-top: 0;
}
.p-no-left {
  padding-left: 0;
}
.p-no-right {
  padding-right: 0;
}
/*=== center block fix ===*/
.input-group.center-block {
  display: inline-table;
}
/*
 * ===================================
 * Buttons
 * 
 * includes: transparent buttons, extra large button, total transparent btn
 * ===================================
 * */
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1.42857143;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 15px 20px;
  font-size: 19px;
  line-height: 1.33;
  border-radius: 4px;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 1px;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 1px;
}
/* Btn Default */
.btn-default {
  color: #555555;
  background-color: #ffffff;
  border-color: #dddddd !important;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.btn-default .open > .dropdown-toggle.btn-default {
  color: #777777;
  background-color: #f1f1f1;
  border-color: #cbcbcb;
}
/* Extra large button */
@media (min-width: 768px) {
  .btn-xlg {
    padding: 15px 20px !important;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}
@media (max-width: 768px) {
  .btn-xlg {
    padding: 10px 15px !important;
    text-transform: uppercase;
  }
}
/*=== Transparent Buttons ===*/
/* Default Transparent Button v1 */
.btn-default-trn {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff !important;
}
.btn-default-trn:focus,
.btn-default-trn:hover {
  color: #777777;
  background-color: #ffffff;
}
/* Default Transparent Button v2 */
.btn-default-trn-v2 {
  color: #999999;
  background-color: transparent;
  border: 1px solid #dddddd !important;
}
.btn-default-trn-v2:focus,
.btn-default-trn-v2:hover {
  color: #444444;
  background-color: transparent;
}
/* Transparent Button v3 */
.btn-trn {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff !important;
  border-left-color: transparent !important;
}
.btn-trn:focus,
.btn-trn:hover {
  background: rgba(255, 255, 255, 0.1);
}
.btn-trn:focus i,
.btn-trn:hover i {
  color: #eee;
}
/* Total Transparent Button */
.btn-all-trn {
  background: transparent;
  border-bottom-color: #eeeeee !important;
  border-radius: 0 !important;
  margin-left: -2px !important;
  color: #999999 !important;
}
.btn-all-trn:focus,
.btn-all-trn:hover {
  box-shadow: none;
}
/* Primary Transparent Button */
.btn-primary-trn {
  color: #1eb9c1;
  background-color: transparent;
  border: 1px solid #1eb9c1 !important;
}
.btn-primary-trn:focus,
.btn-primary-trn:hover {
  color: #ffffff;
  background-color: #1eb9c1;
}
/* Success Transparent Button */
.btn-success-trn-v2 {
  color: #3c948b;
  background-color: transparent;
  border: 1px solid #3c948b !important;
}
.btn-success-trn-v2:focus,
.btn-success-trn-v2:hover {
  color: #ffffff;
  background-color: #3c948b;
}
/* Info Transparent Button */
.btn-info-trn {
  color: #1eb9c1;
  background-color: transparent;
  border: 1px solid #1eb9c1 !important;
}
.btn-info-trn:focus,
.btn-info-trn:hover {
  color: #ffffff;
  background-color: #1eb9c1;
}
/* Warning Transparent Button */
.btn-warning-trn {
  color: #ecd06f;
  background-color: transparent;
  border: 1px solid #ecd06f !important;
}
.btn-warning-trn:focus,
.btn-warning-trn:hover {
  color: #ffffff;
  background-color: #ecd06f;
}
/* Danger Transparent Button */
.btn-danger-trn {
  color: #df6c4f;
  background-color: transparent;
  border: 1px solid #df6c4f !important;
}
.btn-danger-trn:focus,
.btn-danger-trn:hover {
  color: #ffffff;
  background-color: #df6c4f;
}
/* Link Transparent Button */
.btn-link-trn {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid transparent !important;
}
.btn-link-trn:focus,
.btn-link-trn:hover {
  color: #dddddd;
}
/*
 * ===================================
 * Images
 * 
 * ===================================
 * */
/* iPhone position - using on the Services I page */
.iphone-top {
  position: relative;
  top: -50px;
}
.iphone-white {
  position: relative;
  z-index: 5;
  left: 140px;
  top: 30px;
  max-height: 500px;
  width: auto;
}
.iphone-black {
  position: absolute;
  z-index: 2;
  max-height: 500px;
  height: 100%;
  width: auto;
  left: 0;
}
/*
 * ===================================
 * Background
 * 
 * includes: Background Color, Background Filter, Background Images
 * ===================================
 * */
/* === Social Networks - Background Colors === */
.facebook {
  background: #3b5998;
}
.text-facebook {
  color: #3b5998;
}
.google {
  background: #d34836;
}
.text-google {
  color: #d34836;
}
.twitter {
  background: #4099ff;
}
.text-twitter {
  color: #4099ff;
}
.youtube {
  background: #bb0000;
}
.text-youtube {
  color: #bb0000;
}
.linkedin {
  background: #007bb6;
}
.text-linkedin {
  color: #007bb6;
}
.instagram {
  background: #517fa4;
}
.text-instagram {
  color: #517fa4;
}
.pinterest {
  background: #cb2027;
}
.text-pinterest {
  color: #cb2027;
}
.vine {
  background: #00bf8f;
}
.text-vine {
  color: #00bf8f;
}
.snapchat {
  background: #fffc00;
}
.text-snapchat {
  color: #fffc00;
}
.flickr {
  background: #fffc00;
}
.text-flickr {
  color: #fffc00;
}
.tumblr {
  background: #32506d;
}
.text-tumblr {
  color: #32506d;
}
.vimeo {
  background: #aad450;
}
.text-vimeo {
  color: #aad450;
}
.foursquare {
  background: #0072b1;
}
.text-foursquare {
  color: #0072b1;
}
/* === Background Color === */
.bg-grey {
  background: #f0f0f0 !important;
}
.bg-grey-1 {
  background: #f0eeed !important;
}
.bg-grey-2 {
  background: #f2f5f7 !important;
}
.bg-grey-3 {
  background: #f5f5f5 !important;
}
.bg-grey-4 {
  background: #f9f9f9 !important;
}
.bg-dark {
  background: #444444 !important;
}
.bg-dark-1 {
  background: #272727 !important;
}
/* === Filter of Background === */
.bg-filter,
.bg-filter-v1,
.bg-filter-v2 {
  width: 100%;
  height: 100%;
  color: #ffffff;
}
.bg-filter-v2 {
  background: rgba(0, 0, 0, 0.75);
}
.bg-filter {
  background: rgba(0, 0, 0, 0.6);
}
.bg-filter-v1 {
  background: rgba(0, 0, 0, 0.45);
}
/* === Background Images === */
@media (min-width: 1920px) {
  .bg-2 {
    background-image: url("assets/img/576f.jpg");
  }
  .bg-4 {
    background-image: url("../../img/b4db71.jpg");
  }
  .bg-6 {
    background-image: url("../../img/0097.jpg");
  }
  .bg-7 {
    background-image: url("../../../img/DeathtoStock_Desk1.jpg");
  }
  .bg-8 {
    background-image: url("../../img/7321.jpg");
  }
  .bg-9 {
    background-image: url("../../img/macbook-air-all-faded-and-stuff.jpg");
  }
  .bg-11 {
    background-image: url("../../img/faces.jpg");
  }
  .bg-12 {
    background-image: url("../../img/0249.jpg");
  }
  .bg-13 {
    background-image: url("../../img/DeathtoStock_NotStock5.jpg");
  }
  .bg-14 {
    background-image: url("../../img/932.jpg");
  }
  .bg-15 {
    background-image: url("../../img/7306.jpg");
  }
  .bg-16 {
    background-image: url("../../img/header_weblivecab.jpg");
  }
  .bg-18 {
    background-image: url("../../img/header_shop.jpg");
  }
  .bg-19 {
    background-image: url("../../img/header_social.jpg");
  }
  .bg-20 {
    background-image: url("../../img/6f11.jpg");
  }
  .bg-21 {
    background-image: url("../../img/9852.jpg");
  }
}
@media (max-width: 1920px) {
  .bg-2 {
    background-image: url("../../img/1920w/576f.jpg");
  }
  .bg-4 {
    background-image: url("../../img/1920w/b4db71.jpg");
  }
  .bg-6 {
    background-image: url("../../img/1920w/0097.jpg");
  }
  .bg-7 {
    background-image: url("../../img/DeathtoStock_Desk1.jpg");
  }
  .bg-8 {
    background-image: url("../../img/1920w/7321.jpg");
  }
  .bg-9 {
    background-image: url("../../img/1920w/macbook-air-all-faded-and-stuff.jpg");
  }
  .bg-11 {
    background-image: url("../../img/faces.jpg");
  }
  .bg-12 {
    background-image: url("../../img/1920w/0249.jpg");
  }
  .bg-13 {
    background-image: url("../../img/1920w/DeathtoStock_NotStock5.jpg");
  }
  .bg-14 {
    background-image: url("../../img/1920w/932.jpg");
  }
  .bg-15 {
    background-image: url("../../img/1920w/7306.jpg");
  }
  .bg-16 {
    background-image: url("../../img/header_weblivecab.jpg");
  }
  .bg-18 {
    background-image: url("../../img/header_shop.jpg");
  }
  .bg-19 {
    background-image: url("../../img/header_social.jpg");
  }
  .bg-20 {
    background-image: url("../../img/1920w/6f11.jpg");
  }
  .bg-21 {
    background-image: url("../../img/1920w/9852.jpg");
  }
}
/* Useful Classes for background images */
@media (min-width: 768px) {
  .bg-fixed {
    background-attachment: fixed !important;
  }
}
.bg-center {
  background-position: center !important;
}
.bg-centerTop {
  background-position: center top !important;
}
.bg-centerTop70 {
  background-position: center 70% !important;
}
.bg-cover {
  background-size: cover !important;
}
.bg-contain {
  background-size: contain !important;
}
.bg-norepeat {
  background-repeat: no-repeat !important;
}
.bg-repeat {
  background-repeat: repeat;
}
/*
 * ===================================
 * Jumbotron / Header 
 * 
 * includes: Transparent Jumbotron
 * ===================================
 * */
/* Transparent Jumbotron */
.jumbotron.trn {
  background: transparent;
  color: #ffffff;
}
/* Top section - header of the home page */
.sTop {
  position: relative;
}
.sTop .jumbotron {
  margin-bottom: 0;
  padding: 0;
}
.sTop .jumbotron h1 {
  margin-top: 0;
}
@media (min-width: 1200px) {
  .sTop {
    min-height: 800px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .sTop {
    min-height: 600px;
  }
}
@media (max-width: 992px) {
  .sTop {
    min-height: 550px;
  }
  .sTop .jumbotron h1 {
    font-size: 50px;
  }
}
@media (max-width: 480px) {
  .sTop .jumbotron h1 {
    font-size: 36px;
  }
}
/*
 * ===================================
 * Icons
 * 
 * includes: Circle icons, Square icons, Colors of Icons
 * ===================================
 * */
/* Basic Colors of icons */
.i-primary i {
  color: #1eb9c1;
}
.i-success i {
  color: #3c948b;
}
.i-danger i {
  color: #df6c4f;
}
.i-info i {
  color: #1eb9c1;
}
.i-warning i {
  color: #ecd06f;
}
/* Small Circle Icons - social, share */
.circle-icons i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  color: #1eb9c1;
  font-size: 15px !important;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.circle-icons li:hover i {
  background: #1eb9c1;
  color: #ffffff;
}
.trn.circle-icons i {
  color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
  background: transparent;
}
.trn.circle-icons li:hover i {
  background: #ffffff;
  background: rgba(255, 255, 255, 0.25);
}
/* Square Icons */
.square-icons i {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #777777;
  font-size: 16px;
  background: #f5f7f9;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.square-icons i:hover {
  color: #ffffff;
  background: #1eb9c1;
}
.white .square-icons i {
  background: #ffffff;
}
.white .square-icons i:hover {
  color: #ffffff;
}
h1 i:before,
h2 i:before,
h3 i:before,
h4 i:before,
h5 i:before,
button > i:before,
.btn > i:before {
  margin-right: 5px;
}
.fa-long-arrow-right:before {
  margin-left: 5px;
}
/* Button only with icon */
i.only-i:before,
.only-i i:before {
  margin-right: 0;
}
/*
 * ===================================
 * Icons Effects
 * 
 * includes: hovicon and few beautiful animations
 * ===================================
 * */
.hovicon {
  display: inline-block;
  font-size: 45px !important;
  line-height: 90px;
  cursor: pointer;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  text-decoration: none;
  z-index: 1;
  margin: 15px;
}
.hovicon.auto-width {
  width: auto;
  height: auto;
  padding: 15px;
}
.hovicon:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.hovicon:before {
  speak: none;
  font-size: 48px !important;
  line-height: 90px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: block;
  -webkit-font-smoothing: antialiased;
}
/* Effect 1 */
.hovicon.effect-1 {
  background: #f7f7f7;
  -webkit-transition: background 0.2s, background 0.2s;
  transition: background 0.2s, background 0.2s;
}
.hovicon.effect-1:after {
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: 0 0 0 4px #f0f0f0;
  -webkit-transition: -webkit- transform 0.2s, transform 0.2s;
  transition: transform 0.2s, transform 0.2s;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}
/* Effect 1a */
.float-box:hover .hovicon.effect-1.sub-a,
.hovicon.effect-1.sub-a:hover {
  background: #f7f7f7;
  color: #666666;
}
.float-box:hover .hovicon.effect-1.sub-a i,
.hovicon.effect-1.sub-a:hover i {
  color: #666666;
}
.float-box:hover .hovicon.effect-1.sub-a:after,
.hovicon.effect-1.sub-a:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
/* Effect 3 */
.hovicon.effect-3 {
  box-shadow: 0 0 0 4px #eeeeee;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.hovicon.effect-3:after {
  top: -2px;
  left: -2px;
  padding: 2px;
  z-index: -1;
  background: #1eb9c1;
  -webkit-transition: -webkit- transform 0.2s, transform 0.2s;
  transition: transform 0.2s, transform 0.2s;
}
/* Effect 3b */
.hovicon.effect-3.sub-b {
  color: #1eb9c1;
}
.hovicon.effect-3.sub-b i {
  color: #1eb9c1;
}
.hovicon.effect-3.sub-b:after {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 0;
}
.hovicon.effect-3.sub-b:hover,
.hovicon.effect-3.sub-b:hover i {
  color: #ffffff;
}
.hovicon.effect-3.sub-b:hover:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
/*
 * ===================================
 * Icons Cover
 * 
 * includes: blue icon, circle border icon
 * ===================================
 * */
/* blue circle icons for tabs (using on the About Us III page)*/
.blue-i {
  text-align: center;
  line-height: 65px !important;
  height: 65px;
  width: 65px;
  background: #1eb9c1;
  color: #ffffff;
  font-size: 40px !important;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  box-shadow: 0 0 0 1px #1eb9c1;
  display: inline-block;
}
h1 > .blue-i,
h2 > .blue-i,
h3 > .blue-i {
  margin-right: 20px;
  vertical-align: sub;
}
.bg-info.blue-i,
.bg-success.blue-i,
.bg-warning.blue-i,
.bg-danger.blue-i {
  box-shadow: none;
  border: none;
}
/* using on the Home Page version 2 (features) */
.icon-o {
  color: #1eb9c1;
  box-shadow: 0 0 0 1px #dddddd;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  line-height: 100px !important;
  background: #ffffff;
  font-size: 50px !important;
  display: inline-block;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.icon-o:hover,
div:hover > .icon-o {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
/* using on the Support page - categories, bottom of the page */
.icon-c {
  font-size: 40px !important;
  color: #1eb9c1;
  background: #ffffff;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  text-align: center;
  line-height: 78px !important;
  border: 1px solid #eeeeee;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  display: inline-block;
}
.float-box:hover .icon-c,
.icon-c:hover {
  border-color: #1eb9c1;
  background: #1eb9c1;
  color: #ffffff;
}
.bg-grey .icon-c,
.bg-grey-1 .icon-c,
.bg-grey-2 .icon-c,
.bg-grey-3 .icon-c,
.bg-grey-4 .icon-c {
  border: none;
}
/* using on pricing tables page */
.icon-u {
  color: #1eb9c1;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  line-height: 100px !important;
  background: #ffffff;
  font-size: 50px !important;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.15);
  display: inline-block;
}
/* menu icon */
.icon-bars {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: transparent;
  border: 1px solid #eeeeee;
  white-space: nowrap;
  padding: 10px;
  line-height: 1.42857143;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.icon-bars:hover {
  background: #454545;
}
.icon-bars > .bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 4px;
  background: #eeeeee;
}
.icon-bars .bar + .bar {
  margin-top: 4px;
}
/*
 * ===================================
 * Content Boxes
 * 
 * includes: Large Square, Right and Center Float Box 
 * ===================================
 * */
/* Margin bottom for float box */
.margin-b30 .float-box {
  margin-bottom: 30px;
}
.margin-b15 .float-box {
  margin-bottom: 15px;
}
.margin-b30-xs .float-box,
.margin-b30-xs .float-box,
.margin-b30 .float-box,
.margin-b15 .float-box {
  overflow: hidden;
}
/* only for less than 768px */
@media (max-width: 768px) {
  .margin-b30-xs .float-box {
    margin-bottom: 30px;
  }
  .margin-b15-xs .float-box {
    margin-bottom: 15px;
  }
}
/* center/Right float box */
.float-box {
  /* float box titles */
}
.float-box i {
  float: left;
}
.float-box .center {
  text-align: center;
}
.float-box .center .center i {
  float: none;
  margin-bottom: 10px;
}
.float-box h3,
.float-box h4 {
  margin: 0 0 5px 0;
}
.float-text {
  overflow: hidden;
  padding: 0 15px;
}
.float-text .center {
  clear: both;
  overflow: hidden;
  padding: 20px 5px;
}
.float-text-v1 {
  overflow: hidden;
  padding: 15px 15px 15px 10px;
}
/* Large Square - using on the Support Page */
@media (min-width: 1200px) {
  .square {
    padding: 40px;
  }
}
@media (max-width: 1200px) {
  .square {
    padding: 20px;
  }
}
.square {
  text-align: center;
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #999999;
  border-radius: 2px;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}
.square i {
  font-size: 100px;
  color: #1eb9c1;
}
.square h2 {
  text-transform: capitalize;
  margin-top: 25px;
  margin-bottom: 25px;
  color: #1eb9c1;
}
.active .square,
.square:hover {
  background: #1eb9c1;
  border-color: #1eb9c1;
}
.active .square i,
.active .square h2,
.active .square p,
.square:hover h2,
.square:hover i,
.square:hover p {
  color: #ffffff;
}
/*
 * ===================================
 * Hover Content Boxes
 * 
 * includes:  Rotate (to the axis Y) Hover Effect, Slide from top and from bottom
 * ===================================
 * */
/* === Rotate Hover Effect - using by pricing tables on the home page version 2 === */
.visible-part,
.hidden-part {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #ffffff;
}
.visible-part {
  cursor: pointer;
  opacity: 1;
  -webkit-transform: perspective(500px) rotateY(0deg);
  -moz-transform: perspective(500px) rotateY(0deg);
  -ms-transform: perspective(500px) rotateY(0deg);
  transform: perspective(500px) rotateY(0deg);
}
.hidden-part {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: text;
  opacity: 0;
  -webkit-transform: perspective(500px) rotateY(180deg);
  -moz-transform: perspective(500px) rotateY(180deg);
  -ms-transform: perspective(500px) rotateY(180deg);
  transform: perspective(500px) rotateY(180deg);
}
.hover-content:hover {
  /* visible-part (current) will be hidden */
  /* hidden-part (current) will be visible */
}
.hover-content:hover .visible-part {
  opacity: 0;
  -webkit-transform: perspective(500px) rotateY(-180deg);
  -moz-transform: perspective(500px) rotateY(-180deg);
  -ms-transform: perspective(500px) rotateY(-180deg);
  transform: perspective(500px) rotateY(-180deg);
}
.hover-content:hover .hidden-part {
  opacity: 1;
  -webkit-transform: perspective(500px) rotateY(0deg);
  -moz-transform: perspective(500px) rotateY(0deg);
  -ms-transform: perspective(500px) rotateY(0deg);
  transform: perspective(500px) rotateY(0deg);
}
/* === Portfolio Item - top animation with link to somethink and bottom animation with title of a project, work or somethink === */
.hover-content:hover .top-part,
.hover-content:hover .bottom-part {
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}
.bottom-part,
.top-part {
  position: absolute;
  right: 0;
  left: 0;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
  bottom: 0;
  cursor: pointer;
}
.top-part {
  top: 0;
  height: 79%;
  background: rgba(30, 185, 193, 0.6);
  color: #ffffff;
  -webkit-transform: translate(0%, -100%);
  -moz-transform: translate(0%, -100%);
  -ms-transform: translate(0%, -100%);
  transform: translate(0%, -100%);
}
.top-part i {
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.bottom-part {
  height: 21%;
  background: #f5f5f5;
  -webkit-transform: translate(0%, 100%);
  -moz-transform: translate(0%, 100%);
  -ms-transform: translate(0%, 100%);
  transform: translate(0%, 100%);
}
.bottom-part h3 {
  margin: 0;
  color: #777777;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.bg-grey-3 .bottom-part,
.bg-grey-2 .bottom-part,
.bg-grey-1 .bottom-part,
.bg-grey .bottom-part {
  background: #ffffff;
}
.bg-grey-3 .bottom-part h3,
.bg-grey-2 .bottom-part h3,
.bg-grey-1 .bottom-part h3,
.bg-grey .bottom-part h3 {
  color: #999999;
}
/* === Profile rotateY - using on the Our Team page === */
.profile {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.content-open {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  padding: 15px;
  max-width: 450px;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transform: rotateX(0deg) rotateY(-180deg);
  -moz-transform: rotateX(0deg) rotateY(-180deg);
  -ms-transform: rotateX(0deg) rotateY(-180deg);
  transform: rotateX(0deg) rotateY(-180deg);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
.content-open small,
.content-open p,
.content-open h3 {
  text-align: center;
  color: #272727;
}
.content-open p {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
}
.content-open h3 {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
}
.hover-content:hover .content-open {
  opacity: 1;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -ms-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
}
/* Zoom profile - using on the Our Team page */
@media (min-width: 768px) {
  .team-grid .row:not(:last-child) .profile-circle {
    margin-bottom: 75px;
  }
}
@media (max-width: 768px) {
  .team-grid .profile-circle {
    margin-bottom: 75px;
  }
}
.profile-circle {
  max-width: 450px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.profile-circle small {
  display: block;
  margin: 8px 0;
  clear: both;
}
.profile-circle p,
.profile-circle h3 {
  color: #777777;
  -webkit-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.profile-circle:hover h3 {
  color: #1eb9c1;
}
.profile-circle .hover-content {
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  width: 85%;
  height: 85%;
  margin: auto;
}
@media (max-width: 1200px) and (min-width: 992px) {
  .profile-circle .hover-content {
    width: 100%;
    height: 100%;
  }
}
.content-circle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  padding: 15px;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(0.2);
  -moz-transform: scale(0.2);
  -ms-transform: scale(0.2);
  transform: scale(0.2);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  max-width: 450px;
  border-radius: 50%;
}
.hover-content:hover .content-circle {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
/* social icons in a middle */
.content-center .circle-icons {
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  width: 100%;
}
/* Blog post - Hover Effect -  (from parts) */
@media (max-width: 768px) {
  .part-c,
  .part-b,
  .part-a {
    display: none;
    visibility: hidden;
  }
}
@media (min-width: 768px) {
  .part-c,
  .part-b,
  .part-a {
    position: absolute;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    -webkit-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
    visibility: hidden;
    opacity: 0;
  }
  .hover-content:hover .part-c,
  .hover-content:hover .part-b,
  .hover-content:hover .part-a {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
  .part-a {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 66%;
    right: 56%;
    background: #1eb9c1;
    background: rgba(30, 185, 193, 0.8);
    text-align: center;
    color: #fff;
    -webkit-transform: translate(-100%, 100%);
    -moz-transform: translate(-100%, 100%);
    -ms-transform: translate(-100%, 100%);
    transform: translate(-100%, 100%);
  }
  .part-b {
    left: 44%;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 10px 15px;
    text-align: left;
    -webkit-transform: translate(100%, 0%);
    -moz-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    transform: translate(100%, 0%);
  }
  .part-b ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .part-b li {
    padding: 8px 0;
  }
  .part-b li:hover a,
  .part-b li:hover i,
  .part-b li:hover {
    color: #1eb9c1;
  }
  .part-b li a {
    color: #444444;
  }
  .part-b i:before {
    margin-right: 5px;
    margin-left: auto;
  }
  .part-b i {
    color: #777777;
  }
  .part-b .tags a:hover,
  .part-b .tags a {
    color: #ffffff;
  }
  .part-c {
    left: 0;
    right: 56%;
    top: 0;
    -webkit-transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%);
  }
}
/*
 * ===================================
 * Thumbnails
 * 
 * includes: News Thumbnail
 * ===================================
 * */
/* Breaking news */
.news {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}
.news h3 {
  margin: 10px 0 5px;
}
.news em {
  font-size: 12px;
}
.news p {
  margin-top: 5px;
}
/* Portfolio Thumbnail */
.img-details {
  padding: 20px 15px;
  background: #ffffff;
}
.img-details p,
.img-details h3 {
  margin: 0;
}
.img-details p {
  font-weight: 300;
  font-size: 17px;
}
.img-details h3 {
  margin-bottom: 5px;
  text-transform: capitalize;
  font-size: 24px;
}
/* add the .item-grid somewhere above the .img-details */
.items-grid .img-details {
  margin-bottom: 30px;
}
/*
 * ===================================
 * Navs
 * 
 * includes: Large tabs with icon, Full Width tabs, Inline Tabs, Filter Tabs, Filter Menu
 * ===================================
 * */
/*  Large tab with icon (you can see it on the page Services III) */
.lg-tabs {
  margin: auto;
  text-align: center;
  padding: 0;
  list-style: none;
}
.lg-tabs li {
  background: #ffffff;
  position: relative;
  min-height: 1px;
  float: left;
}
.lg-tabs li a:hover,
.lg-tabs li.active a {
  color: #1eb9c1;
}
.lg-tabs a {
  color: #777777;
  background: #ffffff;
  display: block;
}
@media (min-width: 768px) {
  .lg-tabs li {
    min-width: 25%;
    padding: 25px 15px;
  }
  .lg-tabs li:not(:last-child) {
    border-right: 1px solid #eeeeee;
  }
  .lg-tabs a {
    -webkit-transition: color 0.35s ease;
    transition: color 0.35s ease;
  }
  .lg-tabs i {
    font-size: 50px;
  }
  .lg-tabs h3 {
    margin: 15px 0 0;
  }
}
@media (max-width: 1200px) {
  .lg-tabs li {
    padding: 25px 10px;
  }
}
@media (max-width: 992px) {
  .lg-tabs li {
    width: 50%;
  }
  .lg-tabs li:not(:last-child):not( :nth-child(3)) {
    border-bottom: 1px solid #eeeeee;
  }
}
@media (max-width: 768px) {
  .lg-tabs li {
    width: 100%;
    padding: 15px 5px;
  }
  .lg-tabs li:not(:last-child) {
    border-bottom: 1px solid #eeeeee;
  }
  .lg-tabs i {
    font-size: 24px;
    float: left;
    line-height: 30px;
    width: 50px;
  }
  .lg-tabs h3 {
    text-align: left;
    margin: 0;
    line-height: 30px;
    font-size: 24px;
    overflow: hidden;
  }
}
/* Full Width tabs - fw-tabs */
.fw-tabs {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  max-width: 100%;
  text-align: center;
}
.fw-tabs > li {
  list-style: none;
  position: relative;
  overflow: hidden;
  text-align: left;
  padding: 0;
}
.fw-tabs > li:last-child {
  padding-right: 0;
}
.fw-tabs > li > a {
  display: inline-block;
  width: 100%;
  padding: 15px;
  border: 1px solid #eeeeee;
  color: #444444;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.fw-tabs > li.active .blue-i {
  background: #ffffff;
  color: #1eb9c1;
  box-shadow: 0 0 0 1px #dddddd;
}
.fw-tabs > li span {
  position: relative;
  margin-left: 10px;
  vertical-align: super;
}
@media (min-width: 992px) {
  .fw-tabs > li {
    display: inline-block;
    margin-bottom: 0;
    margin-right: -1px;
  }
}
@media (max-width: 992px) {
  .fw-tabs > li {
    margin-right: 0;
    display: block;
  }
  .fw-tabs > li:not(:last-child) {
    margin-bottom: -1px;
  }
}
/* Simple Inline Tabs */
.inline-tabs {
  text-align: center;
  margin: 30px auto 50px;
  padding: 0;
}
.inline-tabs > li {
  position: relative;
  z-index: 1;
  border: 1px solid #dddddd;
  text-align: center;
  font-size: 16px;
  -webkit-transition: background 0.15s;
  transition: background 0.15s;
  padding: 15px 30px;
}
.inline-tabs > li a {
  color: #999999;
}
.inline-tabs > li a:hover {
  color: #1eb9c1;
}
.inline-tabs > li a i {
  margin-right: 8px;
}
.inline-tabs > li.active {
  z-index: 2;
  background-color: #1eb9c1;
  color: #ffffff;
  border-color: #1eb9c1;
}
.inline-tabs > li.active a,
.inline-tabs > li.active a:hover {
  color: #ffffff;
}
@media (max-width: 768px) {
  .inline-tabs > li {
    display: block;
    margin-bottom: -1px;
  }
  .inline-tabs > li:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  .inline-tabs > li:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}
@media (min-width: 768px) {
  .inline-tabs > li {
    display: inline-block;
    margin-right: -4px;
  }
  .inline-tabs > li:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .inline-tabs > li:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}
/*   Filter Inline Menu - version 2    */
.filter-tabs {
  text-align: center;
  margin: 15px 0 30px 0;
  padding: 0;
}
.filter-tabs li {
  padding: 15px 20px;
  color: #777777;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid #eeeeee;
  list-style: none;
  overflow: hidden;
  position: relative;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.filter-tabs li.active {
  background-color: #1eb9c1;
  color: #ffffff;
}
.filter-tabs li.active:hover {
  color: #ffffff;
}
@media (min-width: 768px) {
  .filter-tabs li {
    display: inline-block;
    margin: 0 7px 0 0;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .filter-tabs li:hover {
    color: #1eb9c1;
    border-color: #dddddd;
  }
}
@media (max-width: 768px) {
  .filter-tabs li {
    display: block;
    margin: 0 5px 5px 0;
  }
  .filter-tabs li:hover {
    background: #777777;
    color: #ffffff;
  }
  .filter-tabs li.active:hover {
    background: #1eb9c1;
    color: #ffffff;
  }
}
/* If .bg-grey then background is white */
.bg-grey-3 .filter-tabs li,
.bg-grey-2 .filter-tabs li,
.bg-grey-1 .filter-tabs li,
.bg-grey .filter-tabs li {
  background: #ffffff;
  border: none;
}
.bg-grey-3 .filter-tabs li.active,
.bg-grey-2 .filter-tabs li.active,
.bg-grey-1 .filter-tabs li.active,
.bg-grey .filter-tabs li.active {
  background-color: #1eb9c1;
  color: #ffffff;
}
.bg-grey-3 .filter-tabs li.active:hover,
.bg-grey-2 .filter-tabs li.active:hover,
.bg-grey-1 .filter-tabs li.active:hover,
.bg-grey .filter-tabs li.active:hover {
  color: #ffffff;
}
/*	Filter Menu (using on the page - Portfolio Filter II)	*/
.filter-menu {
  text-align: center;
  clear: both;
  position: relative;
  background: transparent;
  margin: 15px 0 30px 0;
  width: 100%;
  padding: 0;
}
.filter-menu li {
  z-index: 2;
  color: #777777;
  font-size: 17px;
  cursor: pointer;
  text-transform: capitalize;
}
@media (min-width: 768px) {
  .filter-menu {
    border-bottom: 2px solid #dddddd;
    z-index: 1;
  }
  .filter-menu li {
    padding: 10px 25px;
    border-bottom: 2px solid #dddddd;
    margin-bottom: -2px;
    display: inline-block;
    font-weight: 300;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .filter-menu li.active {
    color: #777777;
    border-bottom: 2px solid #1eb9c1;
  }
  .filter-menu li.active:hover {
    color: #444444;
    border-bottom: 2px solid #1eb9c1;
  }
  .filter-menu li:hover {
    color: #1eb9c1;
    border-bottom: 2px solid #aaa;
  }
}
@media (max-width: 768px) {
  .filter-menu li {
    padding: 15px 25px;
    border: 1px solid #dddddd;
    margin-bottom: -1px;
    display: block;
    font-weight: 400;
  }
  .filter-menu li:hover {
    color: #ffffff;
    background: #777777;
    border-color: #777777;
  }
  .filter-menu li.active:hover,
  .filter-menu li.active {
    color: #ffffff;
    background: #1eb9c1;
    border-color: #1eb9c1;
  }
  .filter-menu li:last-child {
    margin-bottom: -2px;
  }
}
/*
 * ===================================
 * Collapse
 * 
 * includes: accordion (using on the Support page)
 * ===================================
 * */
.panel-group .panel:first-child .panel-heading {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.panel-group .panel:last-child .panel-heading {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.panel-group .panel-heading {
  border-radius: 0;
  padding: 25px;
  -webkit-transition: background 0.35s ease-out;
  transition: background 0.35s ease-out;
}
.panel-group .panel-heading:hover {
  background-color: #f5f5f5;
}
.panel-group a .panel-heading {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: -1px;
}
.panel-group a .panel-title,
.panel-group a .panel-heading {
  color: #777777;
  font-size: 24px;
  line-height: 1.1;
}
.panel-group .panel-title > i {
  color: #1eb9c1;
  margin-right: 10px;
}
/*
 * ===================================
 * Navbars
 * 
 * includes: Navbar Default (only dropdown-menu - rest of default navbar is in bootstrap.css ), transparent navbar
 * ===================================
 * */
.navbar {
  margin-bottom: 0;
  border: none;
  z-index: 9999;
  transition: all 0.35s ease;
}
.navbar .navbar-brand {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 20px;
  height: 70px;
}
.navbar .navbar-nav > li > a {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
}
.navbar-trn.navbar,
.navbar-fixed-top.navbar {
  margin-bottom: -70px;
}
/*===   Dropdown menu   - for light/transparent navbar ===*/
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 0;
  text-align: left;
  border-radius: 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  background-clip: padding-box;
  /* Little space for Label */
}
.dropdown-menu .divider {
  height: 1px;
  margin: 5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu .label {
  margin-left: 5px;
}
.dropdown-menu .pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu > li > a {
  display: block;
  padding: 9px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.428571429;
  color: #777777;
  white-space: nowrap;
  border-bottom: 0;
  -webkit-transition: padding-left 0.3s ease-out;
  transition: padding-left 0.3s ease-out;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #777777;
  background-color: #eeeeee;
  padding: 9px 25px 9px 25px;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #1eb9c1;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  cursor: not-allowed;
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: 0;
    right: auto;
  }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }
}
/* Submenu dropdown menu */
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin: 0;
}
.dropdown-submenu .pull-left {
  float: none !important;
}
.dropdown-submenu .pull-left > .dropdown-menu {
  left: -100%;
}
@media (min-width: 768px) {
  .dropdown-submenu > .dropdown-menu {
    box-shadow: 4px 6px 9px rgba(0, 0, 0, 0.3);
  }
  .dropdown-submenu .pull-left > .dropdown-menu {
    box-shadow: -4px 6px 9px rgba(0, 0, 0, 0.3);
  }
  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
}
@media (max-width: 768px) {
  .dropdown-submenu > .dropdown-menu {
    display: block;
    background-color: #f5f5f5 !important;
  }
}
/*===   Navbar Default - light  ===*/
.navbar-default {
  background-color: #ffffff;
  border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
  color: #777777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #777777;
}
.navbar-default .navbar-nav > li > a {
  color: #777777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #1eb9c1;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #1eb9c1;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #1eb9c1;
  color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #dddddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #777777;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
/* ===   Navbar Transparent  === */
.navbar-trn {
  background-color: transparent;
  border-color: transparent;
}
.navbar-trn .dropdown-menu {
  box-shadow: none;
}
.navbar-trn .navbar-brand {
  color: #eeeeee;
}
.navbar-trn .navbar-brand:focus {
  color: #ffffff;
  background: transparent;
}
.navbar-trn .navbar-link {
  color: #eeeeee;
}
.navbar-trn .navbar-link:hover {
  color: #ffffff;
}
.navbar-trn .btn-link {
  color: #777777;
}
.navbar-trn .btn-link:hover,
.navbar-trn .btn-link:focus {
  color: #ffffff;
}
.navbar-trn .btn-link [disabled]:hover,
.navbar-trn .btn-link [disabled]:focus {
  color: #ccc;
}
@media (min-width: 768px) {
  .navbar-trn .navbar-text,
  .navbar-trn .navbar-nav > li > a {
    color: #eeeeee;
  }
  .navbar-trn .navbar-nav > .open > a,
  .navbar-trn .navbar-nav > .open > a:hover,
  .navbar-trn .navbar-nav > .open > a:focus,
  .navbar-trn .navbar-nav > .disabled > a,
  .navbar-trn .navbar-nav > .disabled > a:hover,
  .navbar-trn .navbar-nav > .disabled > a:focus,
  .navbar-trn .navbar-nav > .active > a,
  .navbar-trn .navbar-nav > .active > a:hover,
  .navbar-trn .navbar-nav > .active > a:focus,
  .navbar-trn .navbar-nav > li > a:hover,
  .navbar-trn .navbar-nav > li > a:focus {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
  }
  .navbar-trn .navbar-collapse,
  .navbar-trn .navbar-form {
    border-color: #e7e7e7;
  }
}
@media (max-width: 767px) {
  .navbar-trn {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .navbar-trn .navbar-text {
    color: #eeeeee;
  }
  .navbar-trn .navbar-nav > li > a {
    color: #777777;
  }
  .navbar-trn .navbar-nav > li > a:hover,
  .navbar-trn .navbar-nav > li > a:focus,
  .navbar-trn .navbar-nav > .open > a,
  .navbar-trn .navbar-nav > .open > a:hover,
  .navbar-trn .navbar-nav > .open > a:focus,
  .navbar-trn .navbar-nav > .active > a,
  .navbar-trn .navbar-nav > .active > a:hover,
  .navbar-trn .navbar-nav > .active > a:focus {
    color: #444444;
    background: #eeeeee;
  }
  .navbar-trn .navbar-nav > .disabled > a,
  .navbar-trn .navbar-nav > .disabled > a:hover,
  .navbar-trn .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background: #eeeeee;
  }
  .navbar-trn .navbar-toggle {
    border-color: #eeeeee;
  }
  .navbar-trn .navbar-toggle:hover,
  .navbar-trn .navbar-toggle:focus {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .navbar-trn .navbar-toggle .icon-bar {
    background-color: #dddddd;
  }
  .navbar-trn .navbar-collapse,
  .navbar-trn .navbar-form {
    border-color: #e7e7e7;
  }
  .navbar-trn .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-trn .open .dropdown-menu > .active > a,
  .navbar-trn .open .dropdown-menu > .active > a:hover,
  .navbar-trn .open .dropdown-menu > .active > a:focus,
  .navbar-trn .open .dropdown-menu > li > a:hover,
  .navbar-trn .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #1eb9c1;
  }
  .navbar-trn .open .dropdown-menu > .disabled > a,
  .navbar-trn .open .dropdown-menu > .disabled > a:hover,
  .navbar-trn .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
  .navbar-trn .navbar-collapse {
    background: #ffffff;
  }
}
fieldset[disabled] .navbar-trn .btn-link:hover,
fieldset[disabled] .navbar-trn .btn-link:focus {
  color: #cccccc;
}
/*===    Navbar Inverse    ===*/
.navbar-inverse {
  background-color: #222222;
  border-color: #080808;
}
.navbar-inverse .navbar-brand {
  color: #dddddd;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #dddddd;
}
.navbar-inverse .navbar-nav > li > a {
  color: #dddddd;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #080808;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #080808;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav > .open > a .dropdown-menu > .dropdown-header,
  .navbar-inverse .navbar-nav > .open > a:hover .dropdown-menu > .dropdown-header,
  .navbar-inverse .navbar-nav > .open > a:focus .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-inverse .navbar-nav > .open > a .dropdown-menu .divider,
  .navbar-inverse .navbar-nav > .open > a:hover .dropdown-menu .divider,
  .navbar-inverse .navbar-nav > .open > a:focus .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav > .open > a .dropdown-menu > li > a,
  .navbar-inverse .navbar-nav > .open > a:hover .dropdown-menu > li > a,
  .navbar-inverse .navbar-nav > .open > a:focus .dropdown-menu > li > a {
    color: #dddddd;
  }
  .navbar-inverse .navbar-nav > .open > a .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav > .open > a:hover .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav > .open > a:focus .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav > .open > a .dropdown-menu > li > a:focus,
  .navbar-inverse .navbar-nav > .open > a:hover .dropdown-menu > li > a:focus,
  .navbar-inverse .navbar-nav > .open > a:focus .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav > .open > a .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav > .open > a:hover .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav > .open > a:focus .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav > .open > a .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav > .open > a:hover .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav > .open > a:focus .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav > .open > a .dropdown-menu > .active > a:focus,
  .navbar-inverse .navbar-nav > .open > a:hover .dropdown-menu > .active > a:focus,
  .navbar-inverse .navbar-nav > .open > a:focus .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav > .open > a .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav > .open > a:hover .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav > .open > a:focus .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav > .open > a .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav > .open > a:hover .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav > .open > a:focus .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav > .open > a .dropdown-menu > .disabled > a:focus,
  .navbar-inverse .navbar-nav > .open > a:hover .dropdown-menu > .disabled > a:focus,
  .navbar-inverse .navbar-nav > .open > a:focus .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-toggle {
  border-color: #333333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-inverse .navbar-link {
  color: #dddddd;
}
.navbar-inverse .navbar-link:hover {
  color: #ffffff;
}
.navbar-inverse .btn-link {
  color: #dddddd;
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: #ffffff;
}
.navbar-inverse .btn-link[disabled]:hover,
.navbar-inverse .btn-link[disabled]:focus {
  color: #444444;
}
fieldset[disabled] .navbar-inverse .btn-link:hover,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #444444;
}
/*
 * ===================================
 * Pagition
 * 
 * includes: Pagition (circle)
 * ===================================
 * */
/* Pagition */
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  text-decoration: none;
  color: #1eb9c1;
  background-color: #ffffff;
  margin-left: 5px;
  line-height: 40px;
  width: 40px;
  border-radius: 50%;
  height: 40px;
  text-align: center;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  border: 0;
  padding: 0;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #147a7f;
  background-color: #ededed;
  border-color: #dddddd;
}
.pagination .active > a,
.pagination .active > span,
.pagination .active > a:hover,
.pagination .active > span:hover,
.pagination .active > a:focus,
.pagination .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #1eb9c1;
  border-color: #1eb9c1;
  cursor: default;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span,
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-radius: 50% !important;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
}
/*
 * ===================================
 * Animations
 * 
 * includes: easeUp, easePulse, fromPocket, pulseIn, openIn, openSection, swithOnTv
 * ===================================
 * */
/* Animations are allowed only for more than 768px - no mobile devices for better performance */
@media (min-width: 768px) {
  /* slide from pocket */
  @-webkit-keyframes fromPocket {
    0% {
      opacity: 0;
      -webkit-transform: perspective(1000px) rotateY(350deg) translate3d(25%, 0%, -100px);
      -moz-transform: perspective(1000px) rotateY(350deg) translate3d(25%, 0%, -100px);
      -ms-transform: perspective(1000px) rotateY(350deg) translate3d(25%, 0%, -100px);
      transform: perspective(1000px) rotateY(350deg) translate3d(25%, 0%, -100px);
    }
    100% {
      opacity: 1;
      -webkit-transform: perspective(1000px) rotateY(360deg) translate3d(0%, 0%, 0px);
      -moz-transform: perspective(1000px) rotateY(360deg) translate3d(0%, 0%, 0px);
      -ms-transform: perspective(1000px) rotateY(360deg) translate3d(0%, 0%, 0px);
      transform: perspective(1000px) rotateY(360deg) translate3d(0%, 0%, 0px);
    }
  }
  @keyframes fromPocket {
    0% {
      opacity: 0;
      -webkit-transform: perspective(1000px) rotateY(350deg) translate3d(25%, 0%, -100px);
      -moz-transform: perspective(1000px) rotateY(350deg) translate3d(25%, 0%, -100px);
      -ms-transform: perspective(1000px) rotateY(350deg) translate3d(25%, 0%, -100px);
      transform: perspective(1000px) rotateY(350deg) translate3d(25%, 0%, -100px);
    }
    100% {
      opacity: 1;
      -webkit-transform: perspective(1000px) rotateY(360deg) translate3d(0%, 0%, 0px);
      -moz-transform: perspective(1000px) rotateY(360deg) translate3d(0%, 0%, 0px);
      -ms-transform: perspective(1000px) rotateY(360deg) translate3d(0%, 0%, 0px);
      transform: perspective(1000px) rotateY(360deg) translate3d(0%, 0%, 0px);
    }
  }
  .fromPocket {
    -webkit-animation-name: fromPocket;
    animation-name: fromPocket;
  }
  /* pulseIn */
  @-webkit-keyframes pulseIn {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
    }
    50% {
      opacity: 0.25;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes pulseIn {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
    }
    50% {
      opacity: 0.25;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
  .pulseIn {
    -webkit-animation-name: pulseIn;
    animation-name: pulseIn;
  }
  /* easePulse */
  @-webkit-keyframes easePulse {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes easePulse {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
  .easePulse {
    -webkit-animation-name: easePulse;
    animation-name: easePulse;
  }
  /* openIn */
  @-webkit-keyframes openIn {
    0% {
      opacity: 0;
      -webkit-transform: perspective(500px) rotateY(15deg);
      -moz-transform: perspective(500px) rotateY(15deg);
      -ms-transform: perspective(500px) rotateY(15deg);
      transform: perspective(500px) rotateY(15deg);
    }
    100% {
      opacity: 1;
      -webkit-transform: perspective(500px) rotateY(0);
      -moz-transform: perspective(500px) rotateY(0);
      -ms-transform: perspective(500px) rotateY(0);
      transform: perspective(500px) rotateY(0);
    }
  }
  @keyframes openIn {
    0% {
      opacity: 0;
      -webkit-transform: perspective(500px) rotateY(15deg);
      -moz-transform: perspective(500px) rotateY(15deg);
      -ms-transform: perspective(500px) rotateY(15deg);
      transform: perspective(500px) rotateY(15deg);
    }
    100% {
      opacity: 1;
      -webkit-transform: perspective(500px) rotateY(0);
      -moz-transform: perspective(500px) rotateY(0);
      -ms-transform: perspective(500px) rotateY(0);
      transform: perspective(500px) rotateY(0);
    }
  }
  .openIn {
    -webkit-animation-name: openIn;
    animation-name: openIn;
  }
  /* easeUp */
  @-webkit-keyframes easeUp {
    0% {
      opacity: 0;
      -webkit-transform: translate(0%, 35px);
      -moz-transform: translate(0%, 35px);
      -ms-transform: translate(0%, 35px);
      transform: translate(0%, 35px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0%, 0px);
      -moz-transform: translate(0%, 0px);
      -ms-transform: translate(0%, 0px);
      transform: translate(0%, 0px);
    }
  }
  @keyframes easeUp {
    0% {
      opacity: 0;
      -webkit-transform: translate(0%, 35px);
      -moz-transform: translate(0%, 35px);
      -ms-transform: translate(0%, 35px);
      transform: translate(0%, 35px);
    }
    100% {
      opacity: 1;
      -webkit-transform: translate(0%, 0px);
      -moz-transform: translate(0%, 0px);
      -ms-transform: translate(0%, 0px);
      transform: translate(0%, 0px);
    }
  }
  .easeUp {
    -webkit-animation-name: easeUp;
    animation-name: easeUp;
  }
  /* swithOnTv */
  @-webkit-keyframes swithOnTv {
    0% {
      -webkit-transform: scale3d(0, 0.01, 1);
      -moz-transform: scale3d(0, 0.01, 1);
      -ms-transform: scale3d(0, 0.01, 1);
      transform: scale3d(0, 0.01, 1);
    }
    50% {
      -webkit-transform: scale3d(0.75, 0.01, 1);
      -moz-transform: scale3d(0.75, 0.01, 1);
      -ms-transform: scale3d(0.75, 0.01, 1);
      transform: scale3d(0.75, 0.01, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      -moz-transform: scale3d(1, 1, 1);
      -ms-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  @keyframes swithOnTv {
    0% {
      -webkit-transform: scale3d(0, 0.01, 1);
      -moz-transform: scale3d(0, 0.01, 1);
      -ms-transform: scale3d(0, 0.01, 1);
      transform: scale3d(0, 0.01, 1);
    }
    50% {
      -webkit-transform: scale3d(0.75, 0.01, 1);
      -moz-transform: scale3d(0.75, 0.01, 1);
      -ms-transform: scale3d(0.75, 0.01, 1);
      transform: scale3d(0.75, 0.01, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      -moz-transform: scale3d(1, 1, 1);
      -ms-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  .swithOnTv {
    -webkit-animation-name: swithOnTv;
    animation-name: swithOnTv;
  }
}
/*
 * ===================================
 * Style Switcher 
 * ===================================
 * */
.switcher-icon {
  position: absolute;
  top: -1px;
  left: 259px;
  text-align: center;
  height: 50px;
  width: 50px;
  font-size: 24px !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #eeeeee;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  line-height: 52px !important;
  z-index: 200;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
}
.style-switcher {
  position: fixed;
  top: 280px;
  left: 0;
  right: auto;
  z-index: 100;
  border-top: 1px solid #f5f5f5;
  -webkit-transform: translate(-100%, 0%);
  -moz-transform: translate(-100%, 0%);
  -ms-transform: translate(-100%, 0%);
  transform: translate(-100%, 0%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.style-switcher .body {
  background: #ffffff;
  padding: 20px 15px 15px;
  position: relative;
  z-index: 201;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 259px;
  visibility: hidden;
}
.style-switcher .body h4 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #999999;
  margin-top: 0;
  text-transform: uppercase;
}
.style-switcher .colors {
  margin: 0 auto;
  padding: 0;
}
.style-switcher .colors li {
  list-style: none;
  height: 35px;
  width: 35px;
  margin: 0 4px 4px;
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
}
.active.style-switcher {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
}
.active.style-switcher .body {
  visibility: visible;
  height: 100%;
}
.active .switcher-icon {
  background: #f5f5f5;
}
.blue {
  background: #1a99aa;
}
.green {
  background: #3c948b;
}
.red {
  background: #df6c4f;
}
.light-blue {
  background: #1eb9c1;
}
.yellow {
  background: #ecd06f;
}
/*
 * ===================================
 * Small Components
 * 
 * includes: 404 Page, Testimonial, Alerts, Clients, Knobs, Google Maps, Back To Top, Slideshow - Macbook Pro frame
 * ===================================
 * */
/* === Grid Filter === */
#Grid {
  padding: 0;
  margin: 0;
}
#Grid .mix {
  opacity: 0;
  display: none;
}
#Grid > li.mix {
  padding: 10px !important;
}
.grid {
  min-height: 750px;
}
/* Code */
code {
  padding: 2px 8px;
  color: #444444;
  background-color: #eeeeee;
  border-radius: 0;
}
/* === Slideshow - Macbook Pro frame === */
@media (min-width: 992px) {
  .slideshow {
    width: 900px;
    height: 350px;
    background: url("../../img/macbook-pro-frame.png") 0 0 no-repeat;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    -webkit-transition: height 0.35s ease;
    transition: height 0.35s ease;
    border-bottom: 1px solid #eee;
  }
  #slider-height:hover .slideshow {
    height: 430px;
  }
}
ul.thumbs {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sy-pager li.sy-active a {
  background-color: #1eb9c1;
}
/* === Back To Top === */
.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none;
  z-index: 998;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  color: #1eb9c1;
  font-size: 30px;
  background: #ffffff;
  -moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  -webkitmoz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.back-to-top:hover {
  color: #777777;
}
.back-to-top:focus,
.back-to-top:active {
  color: #ffffff;
  background: #1eb9c1;
}
/* === Clients === */
.client-logo {
  text-align: center;
  margin: 0 auto;
}
.client-logo img {
  margin-left: auto;
  margin-right: auto;
  max-height: 100px;
  padding: 20px 35px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .client-logo img {
    display: block;
    max-width: 100%;
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  .client-logo img {
    display: inline-block;
    max-width: 25%;
  }
}
/* === Knobs === */
.knobs {
  text-align: center;
}
.knobs div h3,
.knobs div h2 {
  margin-top: -35px;
  color: #777777;
}
#GreenKnobs,
#YellowKnobs,
#RedKnobs,
#BlueKnobs {
  display: none;
}
/* === Google Maps === */
#map {
  height: 450px;
  width: 100%;
}
/* === Alerts === */
.alert a {
  color: #ffffff;
  text-decoration: underline;
}
.alert .text-success,
.alert .text-primary,
.alert .text-warning,
.alert .text-danger,
.alert .text-info {
  color: #ffffff;
}
.alert .close {
  opacity: 0.9;
  color: #ffffff;
  text-shadow: none;
}
.alert .close:hover {
  opacity: 1;
}
/* For Contact Form - Success / Error */
.success {
  background-color: rgba(60, 148, 139, 0.9);
}
.error {
  background-color: rgba(223, 108, 79, 0.9);
}
.error,
.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  color: #ffffff;
  border-radius: 2px;
}
/* === Testimonial === */
.testimonial {
  text-align: center;
  color: #ffffff;
}
.testimonial p {
  font-size: 24px;
  margin: 0;
  font-weight: 300;
}
/* === Error 404 Page === */
.error404 {
  text-align: center;
}
.error404 span {
  font-size: 250px;
  z-index: 0;
  line-height: 100px;
  vertical-align: middle;
  position: relative;
}
.error-oh {
  display: inline-block;
  background: rgba(30, 185, 193, 0.7);
  border-radius: 50%;
  border-top-right-radius: 0;
  color: #ffffff;
  font-size: 90px;
  height: 170px;
  font-style: italic;
  width: 170px;
  line-height: 170px;
  margin: 0 -28px;
  z-index: 2;
  vertical-align: middle;
  position: relative;
  top: 10px;
}
.error404-title {
  text-align: center;
  margin: 0;
  color: #ffffff;
}
@media (min-width: 480px) {
  .error-oh {
    font-size: 90px;
    height: 170px;
    width: 170px;
    line-height: 170px;
  }
  .error-oh span {
    font-size: 250px;
    line-height: 100px;
  }
  .section-404 {
    padding: 100px 0;
  }
  .error404 {
    margin-bottom: 60px;
  }
}
@media (max-width: 480px) {
  .error-oh {
    font-size: 50px;
    height: 100px;
    width: 100px;
    line-height: 100px;
  }
  .error-oh span {
    font-size: 150px;
    line-height: 100px;
  }
  .section-404 {
    padding: 30px 0;
  }
  .error404 {
    margin-bottom: 30px;
  }
}
/*
 * ===================================
 * Sidebar
 * ===================================
 * */
.sidebar-off,
.sidebar-on {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  color: #777777;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 280px;
  z-index: 10000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}
.sidebar-off {
  -webkit-transform: translate(-100%, 0%);
  -moz-transform: translate(-100%, 0%);
  -ms-transform: translate(-100%, 0%);
  transform: translate(-100%, 0%);
}
.sidebar-on {
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
}
.sidebar .wrap {
  overflow: hidden;
  position: relative;
  padding: 20px;
  cursor: pointer;
}
.sidebar .title {
  margin: 0;
  color: #999999;
  font-size: 28px;
  float: left;
}
.sidebar h4 {
  text-transform: uppercase;
  color: #1eb9c1;
}
.sidebar .circle-icons i {
  color: #777777;
  height: 35px;
  width: 35px;
  line-height: 35px;
  font-size: 15px;
}
/* Close icon */
.close-icon {
  position: relative;
  height: 28px;
  width: auto;
  float: right;
  right: 15px;
  cursor: pointer;
}
.close-b,
.close-a {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: #999999;
}
.close-a {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-b {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* languages*/
.lang a {
  color: #777777;
}
.lang .fa-check {
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}
.lang li.active .fa-check,
.lang li:hover .fa-check {
  opacity: 1;
  display: inline-block;
  cursor: pointer;
  font-size: 90%;
  margin-left: 5px;
}
/*
 * ===================================
 * Footer
 * ===================================
 * */
.footer-top {
  background: #272727;
  padding: 15px 0;
}
.footer-bottom {
  background: #222222;
  padding: 15px 0;
}
.footer-bottom p {
  margin: 0;
}
.footer {
  color: #aaa;
}
.footer p,
.footer a {
  color: #aaa;
}
.footer li:hover,
.footer p:hover,
.footer a:hover {
  color: #dddddd;
}
.footer h4 {
  font-weight: 300;
  font-size: 20px;
  border-bottom: 1px solid #aaaaaa;
  padding-bottom: 5px;
  width: 80%;
  color: #1eb9c1;
}
.footer .circle-icons i {
  background: #333333;
  color: #aaa;
  box-shadow: none;
}
/*
 * ===================================
 *  Pricing Tables 
 * 
 * includes: 3 types of pricing tables
 * ===================================
 * */
.first,
.last,
.middle {
  position: relative;
}
.last,
.first {
  z-index: 1;
}
.middle {
  z-index: 2;
}
/* Pricing tables - version 1 */
.panel.prices-v1,
.panel.prices {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.prices-v1 .panel-body,
.prices .panel-body {
  padding: 25px;
}
.ribbon {
  background: #ffffff;
  color: #1eb9c1;
  position: absolute;
  top: 25px;
  left: -28px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  line-height: 24px;
  height: 25px;
  z-index: 3;
  width: 130px;
}
.val {
  color: #1eb9c1;
  font-size: 50px;
  margin: 20px 0;
}
.bg-primary .val small,
.bg-primary .val {
  color: #ffffff;
}
/* Pricing tables - version 2 */
.prices-v1 .name {
  margin: 5px 0;
  font-size: 40px;
}
.val-v1 {
  color: #1eb9c1;
  font-size: 45px;
  margin: 10px 0 25px;
}
/* Pricing Tables - Minimalistic Style */
.type {
  font-size: 2em;
  color: #777777;
  margin: 15px 0 30px;
}
.price {
  font-size: 6em;
  line-height: 100px;
  margin: 20px 0 0;
}
.month {
  color: #777777;
  text-transform: uppercase;
  font-weight: 300;
}
.details {
  font-size: 1.5em;
  margin: 25px 0 10px;
}
/*
 * ===================================
 *  Blog Page  
 * 
 * includes: categories, tags, comments
 * ===================================
 * */
.blog-post::after {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.blog-post p {
  margin: 0 0 15px 0;
  line-height: 1.6em;
}
.article-info {
  overflow: hidden;
  margin-bottom: 10px;
}
/* Categories */
.simple-box {
  padding: 20px 15px 15px 15px;
  background: #ffffff;
  border-radius: 2px;
  margin: 30px 0;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}
.simple-box:first-child {
  margin: 0 0 30px 0;
}
.simple-box h3 {
  margin-bottom: 15px;
  margin-top: 0;
}
.simple-box ul {
  margin-bottom: 0;
}
.categories li {
  padding: 5px 0;
  font-size: 16px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* Tags */
.tags ul {
  margin-top: 15px;
}
.tags li {
  margin-bottom: 2px;
  background-color: #f5f7f9;
  padding: 6px 8px;
  display: inline-block;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.tags li:hover {
  color: #444444;
  background: #eeeeee;
}
.tags li:hover i {
  color: #1eb9c1;
}
.tags li i {
  margin-right: 2px;
  color: #777;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.tags li a {
  color: #777777;
}
.lg-tags li {
  padding: 10px 15px;
}
.white .tags li {
  background-color: #ffffff;
}
/* Blog Single Item */
.post-header {
  width: 100%;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
}
.post-header .post-heading {
  background: #777777;
  background: rgba(0, 0, 0, 0.55);
  padding: 0 15px 5px 15px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  position: absolute;
  color: #ffffff;
}
.post-header .post-heading p {
  font-size: 20px !important;
}
/*===   Blog - Comments    ===*/
.comment-box-1 {
  padding: 0 15px 15px 15px;
  border: 1px solid #eeeeee;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.comment-box-1 h3 {
  margin-bottom: 15px;
}
.comment-box-3 {
  border: 1px solid #eeeeee;
  border-top-color: transparent;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.comment-box-3 .media-object {
  height: 64px;
  width: 64px;
}
.comment-box-3 .media-heading {
  float: left;
  font-weight: 400;
}
.comment-box-3 a {
  color: #777777;
}
.comment-box-3 a:hover {
  color: #1eb9c1;
}
.comment-box-3 .media {
  padding: 20px 15px 15px 15px;
}
.comment-box-3 hr {
  margin: 0 0 -15px 0;
}
.media-body-time {
  margin-left: 15px;
}
.media-body-text,
.media-header {
  clear: both;
  float: none;
}
.media-footer {
  margin-top: 10px;
  clear: both;
  float: none;
}
.media-footer i {
  margin-left: 2px;
  margin-right: 2px;
}
/*---------------------------------------*/
/*  TIMELINE
/*---------------------------------------*/
.timeline {
  position: relative;
  padding: 20px 0 20px;
  list-style: none;
}
@media (min-width: 768px) {
  .timeline:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    margin-left: -1px;
    background-color: #e1e1e1;
  }
}
.timeline > li {
  position: relative;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .timeline > li {
    margin-bottom: 20px;
  }
}
.timeline > li:last-child {
  margin-bottom: 0px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  position: relative;
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #d6dddd;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .timeline > li > .timeline-panel {
    float: left;
    width: 44%;
  }
}
@media (min-width: 768px) {
  .timeline > li > .timeline-panel:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 26px;
    right: -15px;
    border-top: 15px solid transparent;
    border-right: 0 solid #d6dddd;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #d6dddd;
  }
}
@media (min-width: 768px) {
  .timeline > li > .timeline-panel:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 27px;
    right: -14px;
    border-top: 14px solid transparent;
    border-right: 0 solid #1eb9c1;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #1eb9c1;
  }
}
.timeline > li > .timeline-panel > .timeline-heading > img {
  margin-bottom: 20px;
}
.timeline > li > .timeline-panel > .timeline-heading > .timeline-title {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  background: #1eb9c1;
  padding: 18px;
}
.timeline > li > .timeline-panel > .timeline-body > p {
  color: #222222;
  font-size: 14px;
  padding: 0px 20px 10px 20px;
}
.timeline > li > .timeline-badge {
  display: none;
}
@media (min-width: 768px) {
  .timeline > li > .timeline-badge {
    display: block;
    z-index: 100;
    position: absolute;
    top: 15px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    border-radius: 50% 50% 50% 50%;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    color: #ccc;
  }
}
@media (min-width: 992px) {
  .timeline > li > .timeline-badge {
    top: 0;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    font-size: 80px;
    line-height: 80px;
  }
}
@media (min-width: 768px) {
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }
}
@media (min-width: 768px) {
  .timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
  }
}
@media (min-width: 768px) {
  .timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
  }
}